//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 03 11:54:19 2015
//! **************************************************************************

SCHEMATIC START;
PIN
        fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<32>
        = BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram"
        PINNAME CLKARDCLK;
PIN
        fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<33>
        = BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram"
        PINNAME CLKBWRCLK;
PIN
        fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<32>
        = BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram"
        PINNAME CLKARDCLK;
PIN
        fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<33>
        = BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram"
        PINNAME CLKBWRCLK;
TIMEGRP CLK = BEL "t_8/temp_7" BEL "t_8/temp_6" BEL "t_8/temp_5" BEL
        "t_8/temp_4" BEL "t_8/temp_3" BEL "t_8/temp_2" BEL "t_8/temp_1" BEL
        "t_8/temp_0" BEL "t_7/temp_7" BEL "t_7/temp_6" BEL "t_7/temp_5" BEL
        "t_7/temp_4" BEL "t_7/temp_3" BEL "t_7/temp_2" BEL "t_7/temp_1" BEL
        "t_7/temp_0" BEL "t_6/temp_7" BEL "t_6/temp_6" BEL "t_6/temp_5" BEL
        "t_6/temp_4" BEL "t_6/temp_3" BEL "t_6/temp_2" BEL "t_6/temp_1" BEL
        "t_6/temp_0" BEL "t_5/temp_7" BEL "t_5/temp_6" BEL "t_5/temp_5" BEL
        "t_5/temp_4" BEL "t_5/temp_3" BEL "t_5/temp_2" BEL "t_5/temp_1" BEL
        "t_5/temp_0" BEL "t_4/temp_7" BEL "t_4/temp_6" BEL "t_4/temp_5" BEL
        "t_4/temp_4" BEL "t_4/temp_3" BEL "t_4/temp_2" BEL "t_4/temp_1" BEL
        "t_4/temp_0" BEL "t_3/temp_7" BEL "t_3/temp_6" BEL "t_3/temp_5" BEL
        "t_3/temp_4" BEL "t_3/temp_3" BEL "t_3/temp_2" BEL "t_3/temp_1" BEL
        "t_3/temp_0" BEL "t_2/temp_7" BEL "t_2/temp_6" BEL "t_2/temp_5" BEL
        "t_2/temp_4" BEL "t_2/temp_3" BEL "t_2/temp_2" BEL "t_2/temp_1" BEL
        "t_2/temp_0" BEL "t_1/temp_7" BEL "t_1/temp_6" BEL "t_1/temp_5" BEL
        "t_1/temp_4" BEL "t_1/temp_3" BEL "t_1/temp_2" BEL "t_1/temp_1" BEL
        "t_1/temp_0" BEL "t_0/temp_7" BEL "t_0/temp_6" BEL "t_0/temp_5" BEL
        "t_0/temp_4" BEL "t_0/temp_3" BEL "t_0/temp_2" BEL "t_0/temp_1" BEL
        "t_0/temp_0" BEL "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_0" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_2" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_3" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_4" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_5" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_6" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_7" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_8" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_9" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_10" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_11" BEL
        "kernel0/Mmult_m8[3]_GND_15_o_MuLt_7_OUT_12" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_0" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_2" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_3" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_4" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_5" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_6" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_7" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_8" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_9" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_10" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_11" BEL
        "kernel0/Mmult_m6[3]_GND_15_o_MuLt_5_OUT_12" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_0" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_2" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_3" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_4" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_5" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_6" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_7" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_8" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_9" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_10" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_11" BEL
        "kernel0/Mmult_m9[3]_GND_15_o_MuLt_8_OUT_12" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_0" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_2" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_3" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_4" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_5" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_6" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_7" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_8" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_9" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_10" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_11" BEL
        "kernel0/Mmult_m7[3]_GND_15_o_MuLt_6_OUT_12" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_0" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_2" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_3" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_4" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_5" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_6" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_7" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_8" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_9" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_10" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_11" BEL
        "kernel0/Mmult_m5[3]_GND_15_o_MuLt_4_OUT_12" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_0" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_2" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_3" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_4" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_5" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_6" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_7" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_8" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_9" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_10" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_11" BEL
        "kernel0/Mmult_m4[3]_GND_15_o_MuLt_3_OUT_12" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_0" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_2" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_3" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_4" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_5" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_6" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_7" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_8" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_9" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_10" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_11" BEL
        "kernel0/Mmult_m3[3]_GND_15_o_MuLt_2_OUT_12" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_0" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_2" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_3" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_4" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_5" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_6" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_7" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_8" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_9" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_10" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_11" BEL
        "kernel0/Mmult_m2[3]_GND_15_o_MuLt_1_OUT_12" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_0" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_2" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_3" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_4" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_5" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_6" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_7" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_8" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_9" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_10" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_11" BEL
        "kernel0/Mmult_m1[3]_GND_15_o_MuLt_0_OUT_12" BEL "kernel0/absRes_10"
        BEL "kernel0/absRes_9" BEL "kernel0/absRes_8" BEL "kernel0/absRes_7"
        BEL "kernel0/absRes_6" BEL "kernel0/absRes_5" BEL "kernel0/absRes_4"
        BEL "kernel0/absRes_3" BEL "kernel0/absRes_2" BEL
        "kernel0/add123456789_16" BEL "kernel0/add123456789_10" BEL
        "kernel0/add123456789_9" BEL "kernel0/add123456789_8" BEL
        "kernel0/add123456789_7" BEL "kernel0/add123456789_6" BEL
        "kernel0/add123456789_5" BEL "kernel0/add123456789_4" BEL
        "kernel0/add123456789_3" BEL "kernel0/add123456789_2" BEL
        "kernel0/add123456789_1" BEL "kernel0/add123456789_0" BEL
        "kernel0/add12345678_15" BEL "kernel0/add12345678_13" BEL
        "kernel0/add12345678_12" BEL "kernel0/add12345678_11" BEL
        "kernel0/add12345678_10" BEL "kernel0/add12345678_9" BEL
        "kernel0/add12345678_8" BEL "kernel0/add12345678_7" BEL
        "kernel0/add12345678_6" BEL "kernel0/add12345678_5" BEL
        "kernel0/add12345678_4" BEL "kernel0/add12345678_3" BEL
        "kernel0/add12345678_2" BEL "kernel0/add12345678_1" BEL
        "kernel0/add12345678_0" BEL "kernel0/add5678_14" BEL
        "kernel0/add5678_12" BEL "kernel0/add5678_11" BEL "kernel0/add5678_10"
        BEL "kernel0/add5678_9" BEL "kernel0/add5678_8" BEL
        "kernel0/add5678_7" BEL "kernel0/add5678_6" BEL "kernel0/add5678_5"
        BEL "kernel0/add5678_4" BEL "kernel0/add5678_3" BEL
        "kernel0/add5678_2" BEL "kernel0/add5678_1" BEL "kernel0/add5678_0"
        BEL "kernel0/add1234_14" BEL "kernel0/add1234_12" BEL
        "kernel0/add1234_11" BEL "kernel0/add1234_10" BEL "kernel0/add1234_9"
        BEL "kernel0/add1234_8" BEL "kernel0/add1234_7" BEL
        "kernel0/add1234_6" BEL "kernel0/add1234_5" BEL "kernel0/add1234_4"
        BEL "kernel0/add1234_3" BEL "kernel0/add1234_2" BEL
        "kernel0/add1234_1" BEL "kernel0/add1234_0" BEL "kernel0/add78_13" BEL
        "kernel0/add78_11" BEL "kernel0/add78_10" BEL "kernel0/add78_9" BEL
        "kernel0/add78_8" BEL "kernel0/add78_7" BEL "kernel0/add78_6" BEL
        "kernel0/add78_5" BEL "kernel0/add78_4" BEL "kernel0/add78_3" BEL
        "kernel0/add78_2" BEL "kernel0/add78_1" BEL "kernel0/add78_0" BEL
        "kernel0/add56_13" BEL "kernel0/add56_11" BEL "kernel0/add56_10" BEL
        "kernel0/add56_9" BEL "kernel0/add56_8" BEL "kernel0/add56_7" BEL
        "kernel0/add56_6" BEL "kernel0/add56_5" BEL "kernel0/add56_4" BEL
        "kernel0/add56_3" BEL "kernel0/add56_2" BEL "kernel0/add56_1" BEL
        "kernel0/add56_0" BEL "kernel0/add34_13" BEL "kernel0/add34_11" BEL
        "kernel0/add34_10" BEL "kernel0/add34_9" BEL "kernel0/add34_8" BEL
        "kernel0/add34_7" BEL "kernel0/add34_6" BEL "kernel0/add34_5" BEL
        "kernel0/add34_4" BEL "kernel0/add34_3" BEL "kernel0/add34_2" BEL
        "kernel0/add34_1" BEL "kernel0/add34_0" BEL "kernel0/add12_13" BEL
        "kernel0/add12_11" BEL "kernel0/add12_10" BEL "kernel0/add12_9" BEL
        "kernel0/add12_8" BEL "kernel0/add12_7" BEL "kernel0/add12_6" BEL
        "kernel0/add12_5" BEL "kernel0/add12_4" BEL "kernel0/add12_3" BEL
        "kernel0/add12_2" BEL "kernel0/add12_1" BEL "kernel0/add12_0" BEL
        "kernel0/extra8/temp_11" BEL "kernel0/extra8/temp_10" BEL
        "kernel0/extra8/temp_9" BEL "kernel0/extra8/temp_8" BEL
        "kernel0/extra8/temp_7" BEL "kernel0/extra8/temp_6" BEL
        "kernel0/extra8/temp_5" BEL "kernel0/extra8/temp_4" BEL
        "kernel0/extra8/temp_3" BEL "kernel0/extra8/temp_2" BEL
        "kernel0/extra8/temp_1" BEL "kernel0/extra8/temp_0" BEL
        "kernel0/extra7/temp_11" BEL "kernel0/extra7/temp_10" BEL
        "kernel0/extra7/temp_9" BEL "kernel0/extra7/temp_8" BEL
        "kernel0/extra7/temp_7" BEL "kernel0/extra7/temp_6" BEL
        "kernel0/extra7/temp_5" BEL "kernel0/extra7/temp_4" BEL
        "kernel0/extra7/temp_3" BEL "kernel0/extra7/temp_2" BEL
        "kernel0/extra7/temp_1" BEL "kernel0/extra7/temp_0" BEL
        "kernel0/extra6/temp_11" BEL "kernel0/extra6/temp_10" BEL
        "kernel0/extra6/temp_9" BEL "kernel0/extra6/temp_8" BEL
        "kernel0/extra6/temp_7" BEL "kernel0/extra6/temp_6" BEL
        "kernel0/extra6/temp_5" BEL "kernel0/extra6/temp_4" BEL
        "kernel0/extra6/temp_3" BEL "kernel0/extra6/temp_2" BEL
        "kernel0/extra6/temp_1" BEL "kernel0/extra6/temp_0" BEL
        "kernel0/extra5/temp_11" BEL "kernel0/extra5/temp_10" BEL
        "kernel0/extra5/temp_9" BEL "kernel0/extra5/temp_8" BEL
        "kernel0/extra5/temp_7" BEL "kernel0/extra5/temp_6" BEL
        "kernel0/extra5/temp_5" BEL "kernel0/extra5/temp_4" BEL
        "kernel0/extra5/temp_3" BEL "kernel0/extra5/temp_2" BEL
        "kernel0/extra5/temp_1" BEL "kernel0/extra5/temp_0" BEL
        "kernel0/extra4/temp_11" BEL "kernel0/extra4/temp_10" BEL
        "kernel0/extra4/temp_9" BEL "kernel0/extra4/temp_8" BEL
        "kernel0/extra4/temp_7" BEL "kernel0/extra4/temp_6" BEL
        "kernel0/extra4/temp_5" BEL "kernel0/extra4/temp_4" BEL
        "kernel0/extra4/temp_3" BEL "kernel0/extra4/temp_2" BEL
        "kernel0/extra4/temp_1" BEL "kernel0/extra4/temp_0" BEL
        "kernel0/extra3/temp_11" BEL "kernel0/extra3/temp_10" BEL
        "kernel0/extra3/temp_9" BEL "kernel0/extra3/temp_8" BEL
        "kernel0/extra3/temp_7" BEL "kernel0/extra3/temp_6" BEL
        "kernel0/extra3/temp_5" BEL "kernel0/extra3/temp_4" BEL
        "kernel0/extra3/temp_3" BEL "kernel0/extra3/temp_2" BEL
        "kernel0/extra3/temp_1" BEL "kernel0/extra3/temp_0" BEL
        "kernel0/extra2/temp_11" BEL "kernel0/extra2/temp_10" BEL
        "kernel0/extra2/temp_9" BEL "kernel0/extra2/temp_8" BEL
        "kernel0/extra2/temp_7" BEL "kernel0/extra2/temp_6" BEL
        "kernel0/extra2/temp_5" BEL "kernel0/extra2/temp_4" BEL
        "kernel0/extra2/temp_3" BEL "kernel0/extra2/temp_2" BEL
        "kernel0/extra2/temp_1" BEL "kernel0/extra2/temp_0" BEL
        "kernel0/extra1/temp_11" BEL "kernel0/extra1/temp_10" BEL
        "kernel0/extra1/temp_9" BEL "kernel0/extra1/temp_8" BEL
        "kernel0/extra1/temp_7" BEL "kernel0/extra1/temp_6" BEL
        "kernel0/extra1/temp_5" BEL "kernel0/extra1/temp_4" BEL
        "kernel0/extra1/temp_3" BEL "kernel0/extra1/temp_2" BEL
        "kernel0/extra1/temp_1" BEL "kernel0/extra1/temp_0" BEL
        "kernel0/sum78/temp_12" BEL "kernel0/sum78/temp_11" BEL
        "kernel0/sum78/temp_10" BEL "kernel0/sum78/temp_9" BEL
        "kernel0/sum78/temp_8" BEL "kernel0/sum78/temp_7" BEL
        "kernel0/sum78/temp_6" BEL "kernel0/sum78/temp_5" BEL
        "kernel0/sum78/temp_4" BEL "kernel0/sum78/temp_3" BEL
        "kernel0/sum78/temp_2" BEL "kernel0/sum78/temp_1" BEL
        "kernel0/sum78/temp_0" BEL "kernel0/sum56/temp_12" BEL
        "kernel0/sum56/temp_11" BEL "kernel0/sum56/temp_10" BEL
        "kernel0/sum56/temp_9" BEL "kernel0/sum56/temp_8" BEL
        "kernel0/sum56/temp_7" BEL "kernel0/sum56/temp_6" BEL
        "kernel0/sum56/temp_5" BEL "kernel0/sum56/temp_4" BEL
        "kernel0/sum56/temp_3" BEL "kernel0/sum56/temp_2" BEL
        "kernel0/sum56/temp_1" BEL "kernel0/sum56/temp_0" BEL
        "kernel0/sum34/temp_12" BEL "kernel0/sum34/temp_11" BEL
        "kernel0/sum34/temp_10" BEL "kernel0/sum34/temp_9" BEL
        "kernel0/sum34/temp_8" BEL "kernel0/sum34/temp_7" BEL
        "kernel0/sum34/temp_6" BEL "kernel0/sum34/temp_5" BEL
        "kernel0/sum34/temp_4" BEL "kernel0/sum34/temp_3" BEL
        "kernel0/sum34/temp_2" BEL "kernel0/sum34/temp_1" BEL
        "kernel0/sum34/temp_0" BEL "kernel0/sum12/temp_12" BEL
        "kernel0/sum12/temp_11" BEL "kernel0/sum12/temp_10" BEL
        "kernel0/sum12/temp_9" BEL "kernel0/sum12/temp_8" BEL
        "kernel0/sum12/temp_7" BEL "kernel0/sum12/temp_6" BEL
        "kernel0/sum12/temp_5" BEL "kernel0/sum12/temp_4" BEL
        "kernel0/sum12/temp_3" BEL "kernel0/sum12/temp_2" BEL
        "kernel0/sum12/temp_1" BEL "kernel0/sum12/temp_0" BEL
        "kernel0/sum5678/temp_13" BEL "kernel0/sum5678/temp_12" BEL
        "kernel0/sum5678/temp_11" BEL "kernel0/sum5678/temp_10" BEL
        "kernel0/sum5678/temp_9" BEL "kernel0/sum5678/temp_8" BEL
        "kernel0/sum5678/temp_7" BEL "kernel0/sum5678/temp_6" BEL
        "kernel0/sum5678/temp_5" BEL "kernel0/sum5678/temp_4" BEL
        "kernel0/sum5678/temp_3" BEL "kernel0/sum5678/temp_2" BEL
        "kernel0/sum5678/temp_1" BEL "kernel0/sum5678/temp_0" BEL
        "kernel0/sum1234/temp_13" BEL "kernel0/sum1234/temp_12" BEL
        "kernel0/sum1234/temp_11" BEL "kernel0/sum1234/temp_10" BEL
        "kernel0/sum1234/temp_9" BEL "kernel0/sum1234/temp_8" BEL
        "kernel0/sum1234/temp_7" BEL "kernel0/sum1234/temp_6" BEL
        "kernel0/sum1234/temp_5" BEL "kernel0/sum1234/temp_4" BEL
        "kernel0/sum1234/temp_3" BEL "kernel0/sum1234/temp_2" BEL
        "kernel0/sum1234/temp_1" BEL "kernel0/sum1234/temp_0" BEL
        "kernel0/sum12345678/temp_14" BEL "kernel0/sum12345678/temp_13" BEL
        "kernel0/sum12345678/temp_12" BEL "kernel0/sum12345678/temp_11" BEL
        "kernel0/sum12345678/temp_10" BEL "kernel0/sum12345678/temp_9" BEL
        "kernel0/sum12345678/temp_8" BEL "kernel0/sum12345678/temp_7" BEL
        "kernel0/sum12345678/temp_6" BEL "kernel0/sum12345678/temp_5" BEL
        "kernel0/sum12345678/temp_4" BEL "kernel0/sum12345678/temp_3" BEL
        "kernel0/sum12345678/temp_2" BEL "kernel0/sum12345678/temp_1" BEL
        "kernel0/sum12345678/temp_0" BEL "CLK_BUFGP/BUFG" BEL
        "kernel0/extra9c/Mshreg_temp_9" BEL "kernel0/extra9c/temp_91" BEL
        "kernel0/extra9c/Mshreg_temp_11" BEL "kernel0/extra9c/temp_111" BEL
        "kernel0/extra9c/Mshreg_temp_10" BEL "kernel0/extra9c/temp_101" BEL
        "kernel0/extra9c/Mshreg_temp_6" BEL "kernel0/extra9c/temp_61" BEL
        "kernel0/extra9c/Mshreg_temp_8" BEL "kernel0/extra9c/temp_81" BEL
        "kernel0/extra9c/Mshreg_temp_7" BEL "kernel0/extra9c/temp_71" BEL
        "kernel0/extra9c/Mshreg_temp_3" BEL "kernel0/extra9c/temp_31" BEL
        "kernel0/extra9c/Mshreg_temp_5" BEL "kernel0/extra9c/temp_51" BEL
        "kernel0/extra9c/Mshreg_temp_4" BEL "kernel0/extra9c/temp_41" BEL
        "kernel0/extra9c/Mshreg_temp_0" BEL "kernel0/extra9c/temp_01" BEL
        "kernel0/extra9c/Mshreg_temp_2" BEL "kernel0/extra9c/temp_21" BEL
        "kernel0/extra9c/Mshreg_temp_1" BEL "kernel0/extra9c/temp_112" BEL
        "RESET_IBUF_shift1" BEL "RESET_IBUF_shift2" BEL "RESET_IBUF_shift3"
        BEL "RESET_IBUF_shift4" BEL "RESET_IBUF_shift5" BEL
        "RESET_IBUF_shift6" BEL "kernel0/extra9c/temp_0" BEL
        "kernel0/extra9c/temp_10" BEL "kernel0/extra9c/temp_11" BEL
        "kernel0/extra9c/temp_1" BEL "kernel0/extra9c/temp_2" BEL
        "kernel0/extra9c/temp_3" BEL "kernel0/extra9c/temp_4" BEL
        "kernel0/extra9c/temp_5" BEL "kernel0/extra9c/temp_6" BEL
        "kernel0/extra9c/temp_7" BEL "kernel0/extra9c/temp_8" BEL
        "kernel0/extra9c/temp_9" BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.rsts/ram_empty_fb_i"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/RST_FULL_GEN"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d3"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_0"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_9"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_8"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_7"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_6"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_5"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_4"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_3"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_9"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_8"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_7"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_6"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_5"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_4"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_3"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_0"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.wsts/ram_afull_fb"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.wsts/ram_full_fb_i"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_10"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_9"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_8"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_7"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_6"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_5"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_4"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_3"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/ram_rd_en_i"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/ram_wr_en_i"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_9"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_8"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_7"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_6"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_5"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_4"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_3"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_0"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_9"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_8"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_7"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_6"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_5"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_4"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_3"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_1"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_9"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_8"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_7"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_6"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_5"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_4"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_3"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_2"
        BEL
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/prog_full_i"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.rsts/ram_empty_fb_i"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/RST_FULL_GEN"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d3"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.rd_rst_reg_0"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/ngwrdrst.grst.wr_rst_reg_1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/grstd1.grst_full.rst_d1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_9"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_8"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_7"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_6"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_5"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_4"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_3"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_9"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_8"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_7"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_6"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_5"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_4"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_3"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_0"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.wsts/ram_afull_fb"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.wsts/ram_full_fb_i"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_10"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_9"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_8"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_7"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_6"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_5"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_4"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_3"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/diff_pntr_pad_1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/ram_rd_en_i"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/ram_wr_en_i"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_9"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_8"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_7"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_6"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_5"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_4"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_3"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d2_0"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_9"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_8"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_7"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_6"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_5"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_4"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_3"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_d1_1"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_9"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_8"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_7"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_6"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_5"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_4"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_3"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gcc0.gc1.count_2"
        BEL
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.gpf.wrpf/prog_full_i"
        PIN
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<32>"
        PIN
        "fif0/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<33>"
        PIN
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<32>"
        PIN
        "fif1/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram_pins<33>";
TS_CLK = PERIOD TIMEGRP "CLK" 4 ns HIGH 50%;
SCHEMATIC END;

